# set variable values

aws_access_key = "YOUR_AWS_ACCESS_KEY"
aws_secret_key = "YOUR_AWS_SECRET_KEY"
aws_region = "YOUR_AWS_REGION"
key_pair = "YOUR_KEY_PAIR"
kms_key_id = "YOUR_KMS_KEY_ID"
instance_size = "t3.micro"
vault_dl_url = "https://releases.hashicorp.com/vault/1.2.3/vault_1.2.3_linux_amd64.zip"
